:root {
    --header-h: 6vh;
    --header-h-portrait: 15vh;

    --header-p-x: 2vw;
    --header-p-y: 2vh;

    --header-text-big: 4vh;
    --header-text-medium: 2vh;
    --header-button-underline: calc(var(--header-text-medium) * 0.2);

    --header-gap: 1vw;
    --header-gap-portrait: 1vh;

    --block-text-big: 4vh;
    --block-text-medium: 1.5vh;
    --block-p-y: 0.5vh;
    --block-p-y-portrait: 5vh;


    --section-gap: 3rem;
}
