---
import { Image } from "astro:assets";
import logo from '../assets/logo.svg';
---

<div class="select-none fixed top-[var(--header-p-y)] left-[var(--header-p-x)]
    flex flex-row justify-start items-center  h-[4vh] w-full gap-[0.7vw]
    portrait:flex-col portrait:justify-center portrait:h-auto portrait:w-[5vw] portrait:items-start portrait:gap-[0vh]">

    <Image class="h-full w-auto rounded-full block" src={logo} alt="Logo" priority/>

    <h1 id="header-title" class="text-[length:var(--header-text-big)] font-sans leading-none">
        Pokume Kachi
    </h1>
</div>
