<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />

        <meta property="og:title" content="pokumekachi">
        <meta property="og:description" content="your description">
        <meta property="og:image" content="https://pokumekachi.web.app/og.png">
        <meta property="og:url" content="https://pokumekachi.web.app">
        <meta property="og:type" content="website">

        <meta name="twitter:card" content="summary_large_image">

		<meta name="generator" content={Astro.generator} />

		<title>Portfolio</title>
	</head>
    <body class="pt-[15vh] p-10 max-w-6xl mx-auto
        flex flex-col justify-start items-center gap-[0vh]
        overflow-x-hidden">
		<slot />
	</body>
</html>

<style>
	html,
	body {
        scroll-behavior: smooth;
		width: 100%;
	}
</style>
